page-editar-orcamento {
}



.fixedLabel {
    min-width: 22% !important;
    max-width: 22% !important;
}

.fixedSelect {
    min-width: 100% !important;
    max-width: 100% !important;
}


.alert-ios {
    border-radius: 10px;
    width: 50%;
    max-width: 50%;
  }

.alert-wrapper {
    border-radius: 10px;
    background-color : blue;
   // height: 60%;
    min-width: 90%;
    
  }

.alert-radio-label {
    white-space: normal!important;

  }

.aqui{
    text-align: center !important;
}
