page-bem-vindo {

    #ion-title{

        background-color:  #3B7304;

    }
}


.action-sheet-title {
    text-align: center !important;
  }

.teste{
    text-align: center !important;
    color: red;
    
}